spring:
  profiles:
    active: dev

---
server:
    port: 8201
spring:
  profiles: dev
  application:
    name: SpringCloud-provider-dept
eureka:
  instance:
    instance-id: SpringCloud-provider-dept
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://jzh.eureka7001.com:7001/eureka/,http://jzh.eureka7002.com:7002/eureka/,http://jzh.eureka7003.com:7003/eureka/

---
server:
    port: 8202
spring:
  profiles: test
  application:
    name: SpringCloud-provider-dept
eureka:
  instance:
    instance-id: SpringCloud-provider-dept
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://jzh.eureka7001.com:7001/eureka/,http://jzh.eureka7002.com:7002/eureka/,http://jzh.eureka7003.com:7003/eureka/
